{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="mt-5 mb-5 text-center">Commandes</h1>
    {% for order in orders %}
        <h2>Commande n° {{ order.id }}</h2>
        <h5 class='text-primary'>Informations du client</h5>
         <table class="table table-bordered">
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Téléphone</th>
            <th>Adresse</th>
            <th>Ville</th>
        </tr>
        <tr>
            <td>{{ order.firstName }} </td>
            <td>{{ order.lastName }} </td>
            <td>{{ order.phone }} </td>
            <td>{{ order.adress }} </td>
            <td>{{ order.city.name}} </td>
        </tr>
    </table>
    <h5 class='text-primary'>Corps de la commande</h5>
    <table class="table table-bordered">
        <tr>
            <th>Nom du produit</th>
            <th>Prix du produit</th>
            <th>Quantité</th>
            <th>Prix total</th>
        </tr>
        {% for product in order.orderProducts %}
            <tr>
                <td>{{ product.product.name }}</td>
                <td>{{ product.product.price}} €</td>
                <td>{{ product.quantity}}</td>
                <td>{{ product.product.price*product.quantity}} €</td>
            </tr>
        {% endfor %}
    </table>
    <h5>Frais de livraisons : {{ order.city.shippingCost }} €</h5>
    <h5 class='mb-5'>Total à payer : {{ order.totalPrice }} €</h5>
    
    {% endfor %}
   
{% endblock %}