{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-4 mb-5">Liste des utilisateurs</h1>

        {% include 'layouts/_flash_message.html.twig' %}

        <table class='table'>
            <tr>
                <th>id</th>
                <th>Nom</th>
                <th>prénom</th>
                <th>Email</th>
                <th>Rôle</th>
                <th>Action</th>
            </tr>
            {% for user in users%}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        {% for role in user.roles %}
                            {{ role }}
                        {% endfor %}
                    </td>
                    <td>
                        {% if ('ROLE_ADMIN' in user.roles) == false %}
                            <a onclick= "return confirm('Voulez vous vraiment affecter ce rôle à ce user ?')" class="btn btn-outline-primary" href="{{ path('app_user_to_editor', {'id':user.id}) }}" >Ajouter le rôle éditeur</a>
                            <a href="" class="btn btn-danger">Supprimer</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
